<div class="box">
	<div class="border" style="width:500px;padding-left:25px;padding-right:25px;text-align:left;">
		<h1 style="text-align:center;">about</h1>
		<p>this is just a simple site I use to showcase my flickr photos and uploaded screenshots
			from <a href="http://www.realmacsoftware.com/littlesnapper/">little snapper</a>.</p>
		<p>i may consider open sourcing it later, but it's not anything that someone of average 
			rails ability couldn't do in a couple of hours.</p>
	</div>
</div>